@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/power.ttf') format('truetype'),
    local('Ubuntu Condensed');
    font-display: swap
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

html {
    overflow-y: hidden;
}

body {
    background-color: #000;
}

@keyframes loading-circles {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      background-color: #1976d2;
      transform: translateY(20px);
    }
}

@keyframes loading-text {
    50% {
      color: #1976d2;
    }
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.loading > .loading-bg {
    position: fixed;
    top: 0;
    left: 0;
}

.loading > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading > .container > span {
    font-size: 3em;
    color: transparent;
    --delay: 0s;
    animation: loading-text 1s var(--delay) ease-in infinite;
}

.loading > .container > .load {
    margin: 10px auto 0;
    height: 40px;
    width: 90px;
}

.loading > .container > .load > .circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: transparent;
    --delay: 0s;
    animation: loading-circles 1s var(--delay) ease-in infinite;
}

.loading > .container > .load > .first {
    margin-left: 0;
    --delay: .1s;
}

.loading > .container > .load > .second {
    --delay: .3s;
}

.loading > .container > .load > .third {
    --delay: .5s;
}