@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/power.ttf') format('truetype'),
    local('Ubuntu Condensed');
    font-display: swap
}

@font-face {
    font-family: 'Cmd';
    src: url('../fonts/windows_command_prompt.ttf') format('truetype'),
    local('Windows Command Prompt');
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background: #16222A;
    color: #fff;
    font-family: 'Ubuntu';
}

header, main, footer {
    width: 100%;
}

header, footer {
    background-color: #3A6073;
}

header {
    height: 300px;
}

main {
    height: auto;
    padding: 30px 0;
}

footer {
    height: 200px;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: .3S;
}

.loading > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading > .container > span {
    user-select: none;
    font-size: 3em;
    color: transparent;
    --delay: 0s;
    animation: loading-text 1.5s var(--delay) ease-in infinite;
}

.loading > .container > .load {
    margin: 10px auto 0;
    height: 40px;
    width: 90px;
}

.loading > .container > .load > .circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: transparent;
    --delay: 0s;
    animation: loading-circles 1s var(--delay) ease-in infinite;
}

.loading > .container > .load > .circle:nth-child(1) {
    margin-left: 0;
    --delay: .1s;
}

.loading > .container > .load > .circle:nth-child(2) {
    --delay: .3s;
}

.loading > .container > .load > .circle:nth-child(3) {
    --delay: .5s;
}   

#type::after {
    content: '_';
    animation: blink 1s infinite;
}

.content {
    margin: 0 auto;
    width: 60%;
    padding: 20px 15px;
}

.presentation {
    background-color: #000;
    font-family: 'Cmd';
}

.bigger {
    font-size: 1.25em;
    color: #1976d2;
}